<!-- <div class=>
  <p-table 
  #data
  [value]="photos"
  dataKey="id"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [paginator]="true"
  currentPageReportTemplate="Exibindo {first} - {last} de {totalRecords} dados"
  [globalFilterFields]="['nome', 'sobrenome', 'cidade', 'telefone', 'email']"
  [loading]="loading"
  >
  <ng-template pTemplate="caption">
    <div class="flex gap-2">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input #inputField pInputText type="text" (input)="filterData($event)" placeholder="Buscar por palavra chave" />
        </span>
      <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(data)"></button>
    </div>
</ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="title" style="width:20%">Title <p-sortIcon field="title"></p-sortIcon></th>
        <th pSortableColumn="thumbnailUrl" style="width:20%">Image <p-sortIcon field="thumbnailUrl"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        <td class="w-[10%]" *ngFor="let header of headers" [ngClass]="{'!text-right': header === 'telefone'}">{{ row[header] }}</td>
      </tr>
    </ng-template>
  </p-table>
</div> -->